*{
    background-color: #F6F7FA;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F7FA;
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #2657EB;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}
h1{
    color: 2657EB;
    text-align: center;
}